<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <%-include("./partials/stylesheet.ejs") %>
</head>
<body>
    <%-include("./partials/header.ejs") %>

    <h1 style="text-align: center; padding:40px;">Sales List</h1>

        <div class=" row col-md-12">
            <div class="col-md-3"></div>
                <div class="add-button col-md-3">
                <a class="btn btn-primary" href="/sales_edit/0"> Add Sales </a>
            </div>
            <div class="add-button col-md-3">
                <a class="btn btn-info" href="/pdf/sales.pdf" target="_blank">Generate PDF</a>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Sales Code</th>
                            <th scope="col">Sales Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<salesList.length; i++) {%>
                            <tr>
                              <td><%= salesList[i].sales_code %></td>
                              <td><%= salesList[i].sales_date.toISOString('YYYY-MM-DD').slice(0, 10) %></td>
                              <td><a class="btn btn-success" href="/sales_edit/<%= salesList[i].id %>"> Edit </a></td>
                              <td><a class="btn btn-danger" href="/sales_delete/<%= salesList[i].id %>"> Delete </a></td>
                            </tr>
                         <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%-include("./partials/footer.ejs") %>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/change-font-size.js"></script>
</body>
</html>