<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <%-include("./partials/stylesheet.ejs") %>
</head>
<body>
    <%-include("./partials/header.ejs") %>

    <h1 style="text-align: center; padding:40px;">Store List</h1>

        <div class=" row col-md-12">
            <div class="col-md-9"></div>
                <div class="add-button col-md-3">
                <a class="btn btn-primary" href="/store_edit/0"> Add Store </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Store Code</th>
                            <th scope="col">Store Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<storeList.length; i++) {%>
                            <tr>
                              <td><%= storeList[i].store_code %></td>
                              <td><%= storeList[i].store_name %></td>
                              <td><a class="btn btn-success" href="/store_edit/<%= storeList[i].id %>"> Edit </a></td>
                              <td><a class="btn btn-danger" href="/store_delete/<%= storeList[i].id %>"> Delete </a></td>
                            </tr>
                         <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%-include("./partials/footer.ejs") %>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/change-font-size.js"></script>
    <!-- <script type="module" src="/js/pdf_store.js"></script> -->
    <!-- <script src="/js/pdf-generator.js"></script> -->
</body>
</html>